@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}
/* cabecera de la pagina, se muestra con flex y tambien el contenido de la cabecera tiene espacios entre ellos*/
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/*cambiando el color de el ultimo hijo del menu superior a rojo*/
#menu li a:hover{
    color: #eb0f0f;
}

nav{
    margin-right: 50px;
}

/*semantica para tener un h1 pero no se muestra en la página*/
.src-only {
    display: none;
}

/*esta clase sirve para no mostrar algunas cosas en mobiles*/
.hide-mobile {
    display: none;
}

/*en general, aumenta el tamaño de el texto y el espaciado de los parrafos*/
p{
    font-size: 0.75em;
    padding: 0em;
    line-height: 25px;
}

/*margen de la izquierda de el logo superior izquierdo*/
a img.logo {
    margin-left: 50px;
}

/*este es el tamaño de el logo */
.logo {
    width: 90px;
    margin: 1em;
}

/*esta es la clase que contiene simbolos de barras y una equis, solo se muestran en mobiles*/
.options {
    color: inherit;/*recibe el color de su padre*/
    text-decoration: none;/*quita toda decoracion de todos los enlaces que se encuentran esta clase*/
    position: relative;/*la posición es relativa con las otras cajas que tiene antes y despues*/
    top: 30%;/*esto pone la distancia de options a 30% hacia arriba en la pantalla*/
    right: 95%;/*esto pone la distancia de options a 95% hacia la derecha en la pantalla*/
    font-size: 1.5rem;/*el tamaño de las letras en general, esto cambia el tamaño de los simbolos*/

    display: flex;/*la forma en la que se muestran los simbolos*/
    flex-wrap: wrap;/*para que cuando la pantalla se haga muy pequeña se mueva el simbolo de la derecha hacia abajo y no se sobrepongan*/
    align-items: flex-start;/*alinea los objetos de la clase al principio en el axis secundario, es decir arriba*/

}
/*el ultimo hijo de los i, en los cuales se encuntran los simbolos, aumenta en tamaño.*/
.options i:last-child {
    font-size: 1.6rem;
}

/* Big area */
.big-hero img {
    width: 150px;/*todas las imagenes dentro de big hero tendran ancho de 150px*/
}
/*el titulo de big hero*/
.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;/*aumenta el font weight para cambiar la forma que se muestra el google font*/
    letter-spacing: 0.002em;
    margin-top: 1em ;
    margin: 1em 0em;
}
/*el parrafo abajo de el titulo*/
.big-hero p {
    font-size: 0.7em;;
    color: #D7DEE6;
}

/*la flecha que aparece en dispositivos no mobiles*/
.big-hero .hide-mobile>i{
    font-size: 7em;
    color: #0AC693;
    margin-bottom: 2em;
}

/* Social links*/
.social-links{
    list-style: none;/*social-links es una lista no ordenada, le quitamos todo formato*/
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center/*justificamos todo el contenido de la caja al centro de la pantalla*/

}

/*links en social*/
.social-links li a{
    display: flex;
    color: #D7DEE6;
    text-decoration: none;/*quitamos la decoracion ya que son links, si no se mostraría una underline*/
    font-size: 12em;
    margin: 0 20px;/*margen de arriba y abajo de 0, derecha a izquierda de 20*/
    
}

/*toda la caja de los articulos*/
.green-area {
    background-color: #0AC693;
    display: flex;
    flex-flow: row wrap; 
}

/*clase que contiene todos los articulos junto con los titulos*/
.post {
    padding: 1em;
    margin-bottom: -2px;/*margen negativo para que se acerquen*/
}
/*todo titulo dentro de la caja de los articulos*/
.post h2 {
    text-transform: uppercase;
    font-weight: 700;/*font de google fonts*/
    font-size: 1.125em;
    margin: 1em;/*margen a todo su alrededor*/
}
/*quitamos todo formato a la lista*/
.post ul {
    list-style: none;
}
/*este bloque sirve para que el tamaño de cada caja de artículos se mantenga en los tamaños deseados para mobiles*/
.post ul li {
    min-height: 300px;
    max-width: 350px;
    margin: 2rem auto;
}
/*cada articulo en post*/
.post ul li article {
    overflow: hidden;/*esconde todo lo que se salga de la caja*/
    border-radius: 10px;/*le da forma a el borde*/
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;/*el espacio dentro de la caja para que el texto no se pegue mucho abajo*/
}
/*cada imagen de cada articulo*/
.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;/*hace que la imagen se muestre con toda la resolucion pero hace que la corte*/
}
/*cada titulo terceario*/
.post article h3 {
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;/*espacio dentro de la caja arriba y abajo de 0, derecha e izquierda de 1rem*/
    font-size: 0.9em;
    white-space: nowrap;/*no utiliza el espacio blanco para moverse*/
    overflow: hidden;/*todo lo que se salga de la caja se esconde*/
    text-overflow: ellipsis;/*si el texto se sale de la caja, pone puntos suspensivos par aque no se salga y aun asi puedas verlo*/
}
/*cada parrafo de los articulos*/
.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */
.about.container{/*mostrar con flex toda la caja*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow: hidden;
    margin-bottom: 10px; 
}
/*caja de about*/
.about{
    margin-top: 2em;
}
/*los titulos de la caja de about*/
.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}
/*la caja de la info*/
.bio-info{
    display: inline-block;
    width: 50%;
    float: left;
    max-width: 667px;/*maxima anchura en mobiles para iphone.*/
}

.bio-info img{
    width: 200px;
}
/*el parrafo de bio-info*/
.bio-info p{
    overflow: hidden;
    font-size: 16px;
    padding: 2em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
    max-width: 667px;
}

/*caja de contacto*/
.contact{
    /*display: flex;
    flex-direction: column;*/
    display: inline-block;
    width: 50%;
    text-align: left;
    padding: 0px 1em;
    max-width: 667px;
}
/*búho*/
.contact * + * {
    margin-top: 1.5em;
}
/*se muestra la contact form de forma flex*/
.contact-form {
    display: flex;
    flex-direction: column;
}
/*tamaño de inputs*/
.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}
/*pie de pagina*/
footer{
    background-color: #0D5061;
    color:#D7DEE6;
    margin-top: 10px;
}
/*0 margen para que el pie de pagina este justo abajo de la pantalla*/
footer .social-links {
    margin: 0;
}
/*menu de navegacion superior*/
.menu {
    background-color: #112935;
    position: absolute;/*mantiene su posicion sin importar que*/ 
    z-index: 20;/*el index z para saber que cosas superponen otras*/
    top: 60px;/*se posiciona 60px de la parte de arriba*/
    right: 0;/*se posiciona justo a la derecha*/
    width: 100vw;
    height: calc(100vh - 60px);/*calcula la altura con una resta*/
    list-style: none;
    text-align: left;
    padding: 1em;
}

/*cada item de la lista del menu*/
.menu li {
    display: block;/*se muestra en bloque*/
    padding: 0.5em;
    margin-top: 5px;
}
/*cada link de cada item del menu*/
.menu li a {
    color: white;
    text-decoration: none;
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }


    .logo {
        width: 150px;
        margin: 1.5em;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }




    /*TODO: FALTA CSS */
} 

@media only screen and (min-width: 1024px) {

       /*TODO: FALTA CSS */
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1024px;
    }



}

@media only screen and (min-width: 1440px) {

    /*TODO: FALTA CSS */
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }
}